
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("styles", false)
    <link href="/css/layoutStyle.css" rel="stylesheet" />
    <link href="/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="/bootstrap/css/bootstrap-utilities.css" rel="stylesheet" />
    <link href="/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">@ViewBag.Title</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Countries"
                       asp-action="CountriesIndex">Countries</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Cities"
                       asp-action="CitiesIndex">Cities</a>
                </li>
                <li class="nav-item active">

                    <a class="nav-link" asp-controller="People"
                       asp-action="PeopleIndex">People</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Languages"
                       asp-action="LanguageIndex">Languages</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Account"
                           asp-action="LogOut">Logout</a>
                    </li>
                   

                }
                else
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Account"
                           asp-action="LogIn">Login</a>
                    </li>
                }
            </ul>

        </div>
    </div>
    <div>
        @RenderBody()

        @if (User.Identity.IsAuthenticated)
            foreach (var claim in User.Claims.ToList())
            {
                <p>@claim.Type : @claim.Value</p><br />
            }
    </div>

    @RenderSection("scripts", false)
</body>
</html>
